.App {
  //text-align: center;
  background-color: $color-background;
  //width: 100%;
  //height: 100%;
  //margin: {
  //  top: 5%;
  //  left: 10%;
  //  right: 10%;
  //  bottom: 5%;
  //}
  border: 2px solid $color-primary;
  height:100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.App-Container {
  padding: {
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
  }
  width:100%;
  height:100%;
  box-sizing: border-box;
  
  @media (max-width: $breakpoint-mobile) {
    padding: 0;
    box-sizing: border-box;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-bar{
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.5em;
  gap: 0.5em;
  font: {
    family: "Courier", monospace;
  }

  background: repeating-linear-gradient(
    45deg,
    $color-primary,
    $color-primary 20px,
    $color-background 20px,
    $color-background 40px
  );

  .header-padding {
    flex-grow: 1;
  }
  .App-header-item {
    font: {
      family: "Courier", monospace;
    }
  }
}



.App-header {
  font: {
    size: calc(10px + 2vmin);
    weight: bold;
  }
  margin: auto;
  color: $color-background;
  background-color: $color-primary;
  padding: 0.25em;
  text-align: left;
  //border-radius: 4px;
  //box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
  //  0px 4px 5px 0px rgba(0,0,0,0.14),
  //  0px 1px 10px 0px rgba(0,0,0,0.12);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
