.section-header {
  color: $color-text;
  font: {
    size: 1.5rem;
    weight: bold;
  }
  margin: {
    top: 2rem;
    bottom: 1rem;
  }
}

p a {
  background-color: $color-primary;
  color: $color-background;
  padding: 0.2em;
  font: {
    family: "Courier", monospace;
  }
  border-radius: 3px;
}

code {
  font: {
    family: 'Courier', 'Courier New', monospace;
  }
  background-color: $color-primary-background;
  padding: 0 0.2em;
  border-radius: 0.1em;
  border: 1px solid $color-primary-border;
}