PORT={{ chatbridge_api_port }}
NODE_ENV=development
NODE_CONFIG_DIR={{ chatbridge_user_home}}/chatbridge/server/config

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT={{ chatbridge_postgres_port }}
POSTGRES_USER={{ chatbridge_postgres_user }}
POSTGRES_PASSWORD={{ chatbridge_postgres_password }}
POSTGRES_DB={{ chatbridge_postgres_db }}
