server {
    listen 80;
    listen [::]:80;
    server_name {{ chatbridge_fqdn }};

    location {{ chatbridge_webroot }}/api/ {
        proxy_pass http://127.0.0.1:{{ chatbridge_api_port }}/;
    }

    {% if CHATBRIDGE_MODE == "development" %}
    location {{ chatbridge_webroot }}/ {
      proxy_pass http://127.0.0.1:{{ chatbridge_webpack_port }}/;
    }

    {% else %}

    location {{ chatbridge_webroot }} {
        alias {{ chatbridge_public_dir }};
        index index.html;
        try_files $uri $uri/ $uri/index.html =404;
    }

    {% endif %}

}
